<%- contentFor( 'body') %>

<div class="table-responsive-xl " >

    <h2>Cadastrar novo usuário</h2>

    <form action="/cadastro/add" method="post">
        <div class="form-group">
            <label for="_name">Nome:</label>
            <input type="text" name="_name" id="_name" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="_email">E-mail:</label>
            <input type="email" name="_email" id="_email" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="_address">Endereço:</label>
            <input type="text" name="_address" id="_address" class="form-control" required>
        </div>

        

        <div class="form-group">
            <label for="_heigth">Altura:</label>
            <input type="number"  name="_heigth" id="_heigth" class="form-control" step=".01" required>
        </div>

        <div class="form-group">
            <label for="_age">Idade:</label>
            <input type="number" name="_age" id="_age" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="_vote">Votou:</label>
            <input type="text" name="_vote" id="_vote" class="form-control" required>
        </div>

        <div class="form-group">
            <input type="submit" value="Enviar"  class="btn btn-success">
        </div>

    </form>

    
</div>