
<header>
    <nav class="navbar navbar-expand-sm bg-warning navbar-dark">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/listagem">Listagem</a></li>
                <li class="nav-item"><a class="nav-link" href="/cadastro">Cadastro</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Sobre</a></li>
            </ul>
        </div>
    </nav>
</header>